.wrapper_footer {
	margin-top: 60px;
}

.wrapper-inner--desktop {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 62px 0px 62px;

	@include laptop {
		display: none;
	}

	.footer_element_wrapper {
		display: flex;
		flex-direction: column;
		max-width: 315px;
		width: 100%;
		height: 100%;

		.footer_element,
		.footer_element ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}

	.first {
		gap: 52.9px;
	}
	.second {
		gap: 38px;
	}
	.third {
		gap: 20px;
	}
	.four {
		gap: 72px;
	}
	

	.footer-logo {
		max-width: 239px;
		max-height: 62.1px;
		width: 100%;
		height: 100%;

	}

	.footer-pay{
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 33px;
		max-width: 214.76px;
		max-height: 31px;
		width: 100%;
		height: 100%;

		.pay-icon {
			width: 48px;
			height: 13px;
		}
		.master_card {
			width: 48.33px;
			height: 29px;
		}
	}
}

.wrapper-inner--laptop {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;

	.footer_element-top {
		display: flex;
		align-items: start;
		max-width: 180px;
		max-height: 46.77px;
		width: 100%;
		height: 100%;
	}
	.footer_element-medium {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		margin-top: 33.23px;
		gap: 40px;

		.footer_element-medium-left {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: space-between;
			gap: 70px;
			padding-bottom: 60px;

			.footer-address,
			.footer-copyright ul {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;
			}

		}

		.footer_element-medium-center {
			display: flex;
			align-items: start;
			justify-content: start;
			
			.footer-contacts {
				display: flex;
				align-items: start;
				flex-direction: column;
				gap: 40px;
				padding-bottom: 138px;

				h4 {
					margin-bottom: -20px;
				}
			}
		}
		.footer_element-medium-right {
			.footer-services {
				display: flex;
				align-items: start;
				justify-content: start;
				flex-direction: column;
				gap: 20px;

				 ul {
					display: flex;
					flex-direction: column;
					gap: 30px;
				}
			}
		}
	}
	.footer_element-bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: 40px 0px 50px;

		.footer-pay {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			max-width: 214.76px;
			max-height: 31px;
			width: 100%;
			height: 100%;

			.pay-icon {
				max-width: 48px;
				max-height: 13px;
				width: 100%;
				height: 100%;
			}

			.master_card {
				max-width: 48.33px;
				max-height: 29px;
				width: 100%;
				height: 100%;
			}
		}

		.footer-secure {
			max-width: 382px;
			max-height: 63px;
			width: 100%;
			height: 100%;
		}
	}

	@include laptop {
		display: flex;
	}

	@include tablet {
		display: none;
	}

}

.wrapper-inner--tablet {
	display: none;
	flex-direction: column;
	align-items: center;

	@include tablet {
		display: flex;
	}

	.footer_elements {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
		margin: 40px 0px;
		gap: 30px;

		@include tablet {
			max-width: 500px;
		}

		.footer-logo {
			padding-left: 4px;
		}


		.footer-address,
		.footer-copyright ul {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 10px;
		}

		.footer-contacts {
			display: flex;
			align-items: start;
			flex-direction: column;
			gap: 40px;
			padding-bottom: 30px;

			h4 {
				margin-bottom: -20px;
			}
		}
		.footer-services {
			display: flex;
			align-items: start;
			justify-content: start;
			flex-direction: column;
			gap: 20px;

			ul {
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
		}
		.footer-pay {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			max-width: 214.76px;
			max-height: 31px;
			width: 100%;
			height: 100%;

			.pay-icon {
				max-width: 48px;
				max-height: 13px;
				width: 100%;
				height: 100%;
			}

			.master_card {
				max-width: 48.33px;
				max-height: 29px;
				width: 100%;
				height: 100%;
			}
		}

		.footer-secure {
			max-width: 382px;
			max-height: 63px;
			width: 100%;
			height: 100%;
		}
	}
}